<p></p>
<h1>Bienvenido al panel de usuario</h1>
<h2>Datos de tu usuario:</h2>
<!-->
  SE UTILIZA LA INTERFAZ EXTENDIDA Y SE MUESTRA EN EL APARTADO DE USUARIOS UNA TABLA CON LOS DATOS REGISTRADOS
<!-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"> <!-->importacion de estilo de tabla obtenida de boostrap <!-->
<table class="table table-dark">
  <thead>
    <tr>

      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>username</th>
      <th>Password</th>
    </tr>

<!-->
  SE INTERPOLAN LAS VARIABLES QUE CONTIENEN LOS REGISTROS EN LA BASE DE DATOS
<!-->

  </thead>
  <tbody>
    <tr>

      <td>{{usuarios.nombre}}</td>
      <td>{{usuarios.apellido}}</td>
      <td>{{usuarios.email}}</td>
      <td>{{usuarios.telefono}}</td>
      <td>{{usuarios.username}}</td>
      <td>{{usuarios.password}}</td>
    </tr>
  </tbody>
</table>
