<h1>Bienvenido al panel de administrador</h1>
<!-->
  SE UTILIZA LA INTERFAZ EXTENDIDA Y SE MUESTRA EN EL APARTADO DE USUARIOS UNA TABLA CON LOS DATOS REGISTRADOS
<!-->
 <!--> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"><!-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <!-->importacion de estilo de tabla obtenida de boostrap <!-->
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Username</th>
          <th>Estado de usuario</th>
          <th>Contraseña</th>
        </tr>

    <!-->
      SE INTERPOLAN LAS VARIABLES QUE CONTIENEN LOS REGISTROS EN LA BASE DE DATOS
    <!-->

      </thead>
      <tbody>
        <tr *ngFor="let user of usuarios">
          <td>{{user.id}}</td>
          <td>{{user.nombre}}</td>
          <td>{{user.apellido}}</td>
          <td>{{user.email}}</td>
          <td>{{user.telefono}}</td>
          <td>{{user.username}}</td>
          <td>{{user.estadoUser}}
            <form action="../../form-result.php" target="_blank">

    <!-->
      FORMULARIO PARA CAMBIAR EL ESTADO DEL USUARIO
    <!-->
            <p>

              <select class="form-select" aria-label="default select example"     >

                <option *ngIf="user.estadoUser == 'Habilitado'">Deshabilitar</option>

                <option *ngIf="user.estadoUser == 'Deshabilitado'">Habilitar</option>

              </select>

            </p>

         <!--> <p><input type="submit" value="Guardar" (click)="modificarEstado(user.id,user.estadoUser)"></p> <!-->
          <button type="submit" class="btn btn-primary" (click)="modificarEstado(user.id,user.estadoUser)">Guardar</button>

          </form></td>
          <td>{{user.password}}</td>
        </tr>
      </tbody>
    </table>
